<!doctype html>
<html lang="en"><head><meta charset="UTF-8" /><meta name="viewport" content="width=1920, height=1080" />
<script src="assets/js/gsap.min.js"></script>
<script type="importmap">{ "imports": { "three": "./assets/js/three/build/three.module.js", "three/addons/": "./assets/js/three/jsm/" } }</script>
<link rel="stylesheet" href="assets/ov.css" />
</head><body>
<div id="root" data-composition-id="main" data-start="0" data-width="1920" data-height="1080"><canvas id="gl" width="1920" height="1080"></canvas></div>
<script type="module" src="assets/js/act1.js"></script>
</body></html>
